@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 5, 5, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background-repeat: no-repeat;
}

body,
.bg-gradient {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.scrollbar-thin {
  overscroll-behavior: contain;
}

.scrollbar-thin::-webkit-scrollbar {
  background-color: transparent;
  width: 3px !important;
  height: 3px;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.snippet {
  display: inline-block;
  padding-inline: 4px;
  border-radius: 2px;
  tab-size: 2;
  background: rgb(129 140 248 / 0.1);
}

.max-h-minus-nav {
  max-height: calc(100vh - 70px);
}

.wrap-break-word {
  overflow-wrap: break-word;
}
