@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 5, 5, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background-repeat: no-repeat !important;
}

body,
.bg-gradient {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.scrollbar-thin::-webkit-scrollbar {
  background-color: transparent;
  width: 3px !important;
  height: 3px;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.snippet {
  display: inline-block;
  padding-inline: 5px;
  line-height: normal;
  border-radius: 2px;
  background: rgb(129 140 248 / 0.18);
}

.max-h-minus-nav {
  max-height: calc(100vh - 70px);
}

.wrap-break-word {
  overflow-wrap: break-word;
}

.wrap-break-anywhere {
  overflow-wrap: anywhere;
}

.min-height-minus-nav-and-footer {
  min-height: calc(100vh - 160px);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* loader */
.roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(0.6);
  margin-left: auto;
  margin-right: auto;
}
.roller div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.roller div:nth-child(1) {
  animation-delay: -0.45s;
}
.roller div:nth-child(2) {
  animation-delay: -0.3s;
}
.roller div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
